# Configuration SAMPLE properties for ROOMIO project
# Ensure you update these to your machine

# Flask parameters
[Flask]
flask_secret_key = secret_key
flask_host = 127.0.0.1
flask_port = 5000

# database parameters
[Database]
db_host = localhost
db_port = 0000
db_username = root
db_name=ROOMIO
db_password= password


# additional settings you may want to include