<html>
<head>
</head>
<body>

<h1> Enter the building you want to look at: </h1>
<form action="/unit_results" method="POST">
    <label for="building">Building Name:</label> <!-- is there a way to select the distinct names and display? -->
    <input type="text" id="building" name="building" placeholder="Building Name" required><br>
    <label for="Company">Company Name:</label>
    <input type="text" id="company" name="company" placeholder="Company Name" required><br>
    <input type="submit" value="Search">
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>



<a href="/home">Home Screen</a><br>

<a href="/logout">Logout</a>

</body>


</html>
