<html>
<head>
    <style type="text/css">
        table, th, td{
            border: 1px solid black;
            text-align: center;
            padding-left: 2px;
            padding-right: 2px;
        }
    </style>
</head>

<body>
<h1> Unit Details for {{building_data.AddrNum}} {{building_data.AddrStreet}}, Unit {{unit_data.unitNumber}}, {{building_data.AddrCity}} {{building_data.AddrState}}, {{building_data.AddrZipCode}}:
    </h1>

<h3>Unit Details:</h3>
Building built in: {{building_data.YearBuilt}}<br>
Monthly Rent: {{unit_data.MonthlyRent}}<br>
Square Feet: {{unit_data.squareFootage}}<br>
Available on: {{unit_data.AvailableDateForMoveIn}}<br>

{% if rooms_data|length >= 1 %}
<h2>Rooms:</h2>
    <table>
        <th>Room Name</th>
        <th>Square Feet</th>
        <th>Description</th>
        {% for room in rooms_data %}
        <tr>
           <td>{{room.name}}</td>
            <td>{{room.squareFootage}}</td>
            <td>{{room.description}}</td>
        </tr>
        {% endfor %}<br>
    </table>
{% endif %}
    
{% if pet_data|length >= 1 %}
<h2>Pet Policy:</h2>
    <table>
        <th>Pet Type</th>
        <th>Pet Size</th>
        <th>Is Allowed</th>
        <th>Registration Fee</th>
        <th>Monthly Fee</th>
        {% for pet in pet_data %}
        <tr>
            <td>{{ pet.PetType }}</td>
            <td>{{ pet.PetSize }}</td>
            <td>{{ pet.isAllowed }}</td>
            <td>{{ pet.RegistrationFee }}</td>
            <td>{{ pet.MonthlyFee }}</td>
        </tr>
        {% endfor %}
    </table><br>
{% endif %}

{% if unit_amenities_data|length >= 1 %}
<h2>Unit Amenities:</h2>
    <table>
        <th>Type</th>
        <th>Description</th>
        {% for amenity in unit_amenities_data %}
        <tr>
            <td>{{ amenity.aType }}</td>
            <td>{{ amenity.Description }}</td>
        </tr>
        {% endfor %}
    </table><br>
{% endif %}

{% if building_amenities_data|length >= 1 %}
<h2>Building Amenities:</h2>
    <table>
        <th>Type</th>
        <th>Description</th>
        <th>Fee</th>
        {% for amenity in building_amenities_data %}
        <tr>
            <td>{{ amenity.aType }}</td>
            <td>{{ amenity.Description }}</td>
            <td>{{ amenity.fee }}</td>
        </tr>
        {% endfor %}
    </table><br>
{% endif %}

{% if interests_data|length >= 1 %}
<h2>Who's interested:</h2>
    <table>
        <th>First Name</th>
        <th>Gender</th>
        <th>Roommate Count</th>
        <th>Move-In Date</th>
        {% for interest in interests_data %}
        <tr>
            <td>{{ interest.first_name }}</td>
            <td>{{ interest.gender }}</td>
            <td>{{ interest.RoommateCnt }}</td>
            <td>{{ interest.MoveInDate }}</td>
        </tr>
        {% endfor %}
    </table><br>
{% endif %}
    

<a href="/search_units">New Search</a><br>
<a href="/home">Home Screen</a><br>

<a href="/logout">Logout</a>

</body>


</html>
